@model IEnumerable<batterymetrics.Model.Metric>

@{
    ViewData["Title"] = "Device Summary";
}
<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-lg-12">
        <form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
            <div class="form-group inline">
                <label class="control-label">Email</label>
                <input name="email" type="email" class="form-control" />
            </div>
            <div class="form-group inline">
                <label class="control-label">File</label>
                <input name="file" type="file" class="form-control" style="height:auto" />
            </div>
            <input type="submit" value="Upload" class="btn btn-default inline" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Battery Metrics</h3>
    </div>
</div>

@if(Model.Count() == 0) {
    <p>@ViewData["Message"]</p>
} else {
    <table class="table">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.AccNum)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.BatteryLifetime)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ChargeTime)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Cycles)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.LevelCycles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryLifetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cycles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelCycles)
            </td>

        </tr>
}
    </tbody>
</table>
}

